@import "../../scss/index.scss";

.users {
  @extend %flex-center-column;
  gap: 50px;
  padding: 140px 0;
  @include sm-xs {
    padding: 140px 30px;
  }
  @include md-sm {
    padding: 140px 65px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @include md-sm {
    grid-template-columns: 1fr 1fr;
  }
  @include md-min {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include sm-min {
    gap: 30px;
  }
}
.card {
  max-width: 328px;
  padding: 20px;
  min-height: 254px;
  border-radius: 10px;
  background-color: $text-color-white;
  text-align: center;
  overflow: hidden;
}
.photo {
  border-radius: 70px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.info {
  margin-top: 20px;
}
.text {
  text-overflow: ellipsis;
  overflow: hidden;
}
