@import "../../scss/index.scss";

.users {
  @extend %flex-center-column;
  gap: 50px;
  padding: 140px 0;
  @include sm-xs {
    padding: 140px 30px;
  }
  @include md-sm {
    padding: 140px 32px;
  }
  @include md-min {
    margin: 0 auto;
    max-width: 1170px;
    padding: 140px 60px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @include md-sm {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  @include md-min {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
  }
}
.card {
  padding: 20px;
  width: 370px;
  min-height: 254px;
  border-radius: 10px;
  background-color: $text-color-white;
  text-align: center;
  overflow: hidden;
  @include xs {
    max-width: 80%;
    margin: 0 auto;
  }

  @include sm {
    width: 300px;
  }
  @include md-sm {
    width: 340px;
  }
  @include lg-md {
    width: 282px;
  }
}
.photo {
  border-radius: 70px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.info {
  margin-top: 20px;
}
.text {
  text-overflow: ellipsis;
  overflow: hidden;
}
