.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.RadioButtonBlock {
  margin-top: -7px;
  p {
    margin-bottom: 11px;
  }
  div {
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
