@import "./skins.scss";

%flex-center {
  display: flex;
  align-items: center;
}
%flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
%helper-text {
  position: absolute;
  font-size: 12px;
  top: 100%;
  left: 0;
  padding-left: 16px;
  color: $label-color;
}
%helper-text-error {
  position: absolute;
  font-size: 12px;
  top: 100%;
  left: 0;
  padding-left: 16px;
  color: $error-color;
}
