$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$error-color: #cb3d40;
$button-hover-color: #ffe302;
$text-color-white: #ffffff;
$label-color: #7e7e7e;
$input-color: #d0cfcf;
$disabled-button: #b4b4b4;
