@import "../../scss/index.scss";

.section {
  @extend %flex-center;
  justify-content: center;
  background-image: url("../../assets/background-2560.png");
  background-size: cover;
  min-height: 500px;
  margin: 0 auto;
  max-width: 1170px;
  @include xs {
    background-image: url("../../assets/backgound-360.png");
  }
  @include sm-xs {
    background-image: url("../../assets//background-768.png");
  }
  @include md-sm {
    background-image: url("../../assets/background-1024.png");
  }
  @include md-min {
    min-height: 650px;
  }
}
.contentBlock {
  padding: 40px 16px 70px 16px;
  height: 100%;
  text-align: center;
  @include sm-min {
    max-width: 380px;
  }
}
.title {
  color: $text-color-white;
  margin-bottom: 21px;
}
.description {
  color: $text-color-white;
  margin-bottom: 32px;
}
